
 <app-calc-button  [nameBut]="'1'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'2'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'3'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'+'" [codeBtn]="4" (clickBut)="onCalcBtnClick($event)"></app-calc-button>

 <app-calc-button  [nameBut]="'4'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'5'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'6'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'-'" [codeBtn]="4" (clickBut)="onCalcBtnClick($event)"></app-calc-button>

 <app-calc-button  [nameBut]="'7'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'8'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'9'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'*'" [codeBtn]="4" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
<div class="row-last">
 <app-calc-button  [nameBut]="'C'" [codeBtn]="3" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'0'" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'='" [codeBtn]="1" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
 <app-calc-button  [nameBut]="'/'" [codeBtn]="4" (clickBut)="onCalcBtnClick($event)"></app-calc-button>
</div>


