<div class="main-container">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/credit">
      <img src="assets/icons/kalkulyator.svg" alt="Кредитный калькулятор онлайн" width="30" height="30" class="d-inline-block align-top">
      Калькулятор
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <a routerLink="" class="nav-link">Главная</a>
        </li>
        <li class="nav-item active mr-2">
            <a routerLink="/credit/allCredits" class="nav-link" *ngIf="userLogin != null">{{userLogin}}</a>
            <a routerLink="/credit/allCredits" class="btn btn-primary" *ngIf="userLogin == null">Вход</a>
        </li>
        <li class="nav-item" *ngIf="userLogin != null" >
          <button class="btn btn-danger mr-3" (click)="exit()">Выход</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
  <router-outlet></router-outlet>
</div>
<hr>
  <footer>
      <div class="container-fluid">
        <div class="row padding text-center">
          <div class="col-12 social padding">
            <a href="https://vk.com/id213753479"><i class="fab fa-vk"></i></a>
            <a href="https://www.instagram.com/nik_sty/?hl=ru"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/NikStun"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </footer>
