<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a href="/calc" class="navbar-brand">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
              <a routerLink="" class="nav-link">Calculator</a>
          </li>
          <li class="nav-item">
              <a routerLink="/credit" class="nav-link">Credit Form</a>
          </li>
        </ul>
    </div>
  </nav>
  <br>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
