<div class="container">
    <div class="col-12">
        <h1 class="display-5">Кредитный калькулятор</h1>
        <p>Наш кредитный калькулятор поможет вам рассчитать ежемесячный платеж и подобрать лучшие онлайн предложения. Чтобы начать расчет введите желаемую сумму кредита и остальные параметры.</p>
    </div>
    <div class="card">
      <div class="jumbotron">
          <div class="row">
              <div class="col-lg-8  col-md-8 col-sm-8 col-12">
                      <form [formGroup]="creditForm">
                              <div class="form-group row">
                                <label for="input-amountOfCredit" class="col-sm-3" >Сумма кредита :</label>
                                <div class="col-sm-9">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">RUB</span>
                                        </div>
                                        <input type="text" class="form-control" id="input-amountOfCredit" formControlName="amountOfCredit" mask='0*'>
                                        <div class="input-group-append">
                                          <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              <div class="form-group row">
                                <label for="input-timeOfCredit" class="col-sm-3">Кол-во месяцев:</label>
                                <div class="col-sm-6">
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-sm" id="input-timeOfCredit" formControlName="timeOfCredit" mask='0*'>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="input-percentOfCredit"  class="col-sm-3">Проценты:</label>
                                  <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control form-control-sm" id="input-percentOfCredit" formControlName="percentOfCredit">
                                      <div class="input-group-append">
                                          <span class="input-group-text">%</span>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="input-startingDate" class="col-sm-3">Дата взятия кредита:</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" id="input-startingDate" placeholder="Выберите дату" formControlName="startingDate" #dateDirectivePicker="dpDayPicker" [dpDayPicker]="config" theme="dp-material"><br>
                                </div>
                              </div>
                                <div class="form-group row">
                                <label for="input-bank" class="col-sm-3">Банк:</label>
                                  <div class="col-sm-5">
                                    <select class="form-control" id="input-bank" formControlName="bankId">
                                        <option [ngValue]="null" disabled>Выберите банк...</option>
                                      <option [value]="bank.bankId" *ngFor="let bank of bankMas">
                                        {{bank.bankName}}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['amountOfCredit'].errors && creditForm.controls['amountOfCredit'].errors.required && creditForm.controls['amountOfCredit'].touched">Введите сумму кредита</div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['amountOfCredit'].errors && creditForm.controls['amountOfCredit'].errors.min">Минимальная сумма кредита - 0</div>
                  
                                <div class="alert alert-danger" *ngIf="creditForm.controls['timeOfCredit'].errors && creditForm.controls['timeOfCredit'].errors.required && creditForm.controls['timeOfCredit'].touched">Введите кол-во месяцев</div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['timeOfCredit'].errors && creditForm.controls['timeOfCredit'].errors.min">Минимальное число месяцев - 1</div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['timeOfCredit'].errors && creditForm.controls['timeOfCredit'].errors.max">Максимальное число месяцев - 360</div>
                  
                                <div class="alert alert-danger" *ngIf="creditForm.controls['percentOfCredit'].errors && creditForm.controls['percentOfCredit'].errors.required && creditForm.controls['percentOfCredit'].touched">Введите процент по кредиту</div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['percentOfCredit'].errors && creditForm.controls['percentOfCredit'].errors.min">Минимальное число процента - 0</div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['percentOfCredit'].errors && creditForm.controls['percentOfCredit'].errors.max">Максимальное число процента - 100</div>
                                <div class="alert alert-danger" *ngIf="creditForm.controls['percentOfCredit'].errors && creditForm.controls['percentOfCredit'].errors.pattern">Неверное число процентов</div>
                  
                                <div class="alert alert-danger" *ngIf="creditForm.controls['startingDate'].errors && creditForm.controls['startingDate'].errors.required && creditForm.controls['startingDate'].touched">Выберите дату взятия кредита</div>
                                <div class="alert alert-danger" *ngIf="err == true">Необходимо произвести авторизацию!</div>
                                <button class="btn btn-primary mr-4 mb-1" (click)="calculateCredit(creditForm)">Расчитать</button>
                                <button class="btn btn-success mr-4 mb-1" *ngIf="done==false && isCalculated==true" (click)="putAll(creditForm)">Сохранить</button>
                                <button class="btn btn-outline-primary mb-1" (click)="clearForm(creditForm)">Очистить</button>
                  </form>
              </div>
          </div>
    </div>
    <div class="card-footer bg-success" *ngIf="done==true"><h2 class="text-center text-white">УСПЕШНО СОХРАНЕНО!</h2></div>
    </div>
        <div class="col-lg-10 col-md-12 col-sm-12 col-12 mx-auto">
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered" *ngIf="creditMas?.length>0">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">№ платежа</th>
                        <th scope="col">Дата платежа</th>
                        <th scope="col">Платеж (c процентами)</th>
                        <th scope="col">Основной долг</th>
                        <th scope="col">Начисленные проценты</th>
                        <th scope="col">Остаток долга</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let credit of creditMas">
                          <td scope="row">{{credit.numOfPay}}</td>
                          <td>{{credit.dateOfPay | date:'d/MM/yy'}}</td>
                          <td>{{credit.pay | number:'.0-2'}}</td>
                          <td>{{credit.mainDebt | number:'.0-2'}}</td>
                          <td>{{credit.amountOfPercent | number:'.0-2'}}</td>
                          <td>{{credit.debtOfCredit | number:'.0-2'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
    <div class="jumbotron my-4">
        <h2>Немного теории</h2>
        <p>Когда вы заходите на сайт любого банка или кредитной организации, взгляд сразу цепляется за опцию «рассчитать кредит». Это очень полезная функция, которая помогает вам пользоваться благами кредитования и избегать подводных камней при дорогостоящих покупках.</p>
        <h3>Начинаем с основ: что такое кредитный калькулятор</h3>
        <p>Кредитным калькулятором называется специальная программка, которая необходима для клиента, решившего оформить финансовый заем в банке или кредитной организации. Суть программы очень проста: она помогает оценить, какую сумму и за какой срок вам необходимо будет выплатить при известных условиях кредита.</p>
        <p>Выгоды использования кредитного калькулятора онлайн очевидны. С его помощью вы сможете:</p>
        <ul>
        <li>четко рассчитать платежи по кредиту;</li>
        <li>понять, сколько вы переплачиваете за пользование кредитом;</li>
        <li>выбрать подходящий именно вам тип погашения кредита (аннуитет или классика);</li>
        <li>составить график оплаты.</li>
        </ul>
        <p>Грамотный расчет и реальное планирование позволит вам не пополнять печальные ряды неплательщиков, а просчитать всевозможные риски и разумно и с комфортом выплачивать кредит банку или другой организации.</p>
        <h3>Как гасят кредит</h3>
        <p>Для пользователей, берущих кредит впервые, может возникнуть вопрос, что такое аннуитет и классический способ погашения долга. При первом способе с помощью регулярных платежей сначала гасятся проценты, а потом – тело финансового займа. Классика подразумевает оплату тела кредита равными частями, что позволяет начислять проценты на меньшую сумму – то есть остаток займа.</p>
        <h3>Как пользоваться услугой</h3>
        <p>Несмотря на различия между инструментами расчетов, в целом кредитные калькуляторы действуют по одному принципу. В среднем порядок действий таков:</p>
        <ol>
        <li>Заполнить необходимые пропуски в предлагаемой форме. Как правило, здесь обязательно должны быть указаны сумма кредита, срок, на который вы берете кредит и схема его погашения.</li>
        <li>Внимательно посмотреть на результат расчетов</li>
        </ol>
        <p>Согласитесь, это очень просто и доступно каждому. Всю работу программа сделает за вас.</p>
        <p>Конечно, кредитный калькулятор онлайн не всегда предлагает точные ответы на вопросы финансовых займов. И связано это не с несовершенством программы, а с мелочами, которые не всегда могут быть учтены. Поэтому опытные финансисты советуют: рассчитывая возможности для погашения кредита, опирайтесь на кредитный калькулятор и имейте в запасе некоторую сумму, которая позволит избежать неприятных сюрпризов в реальных условиях кредитования.</p>
    </div>
</div>