/* You can add global styles to this file, and also import other style files */
body{
  background: #F5F5F5;
}

.nav-item{
font-weight: 800;
text-transform: uppercase;
}


// .calculator {
//   width: 250px;
//   height: 300px;
//   border: 2px solid black;
//   margin: 20px auto 0;
//   text-align: center;
//   background-color: #2b84ee;
//   box-shadow: 0 0 30px grey;
//   border-radius: 4px;
// }

// .calculator__form {
//   height: 100%;
//   padding: 15px;
// }

// .calculator__row {
//   margin: 10px 0;
//   display: flex;
//   justify-content: space-between;
// }

// .calculator__display {
//   margin: 0 0 20px;
//   width: 135%;
//   height:70%;
//   border: 1px solid darkslateblue;
//   padding: 4px 2px;
//   text-align: right;
//   font: 700 16px/1 Arial, sans-serif;
//   color: darkslateblue;
//   background-color: whitesmoke;
// }

// .calculator__key {
//   width: 41px;
//   height: 35px;
//   cursor: pointer;
//   border: none;
//   transition: all .2s;
//   text-transform: uppercase;
//   background:#F0F8FF;
// }

// .calculator__key--equal {
//   width: 98px;
// }

// .calculator__key:hover {
//   background-color: rgb(253, 253, 43);
//   font-weight: 700;
// }

// .calculator__key::-moz-focus-inner {
//   border: none
// }
.calculator__history {
  text-align: center;
  max-height: 200px;
  // margin-left: 585px;
  width: 100%;
  overflow: scroll;
  border-bottom: 1px solid #2b84ee;
}

.calcontainer {
  background-color: #343a40;
  box-shadow: 0 0 30px grey;
  border-radius: 4px;
  margin: 20px auto 0;
  width: 294px;
  border: 2px solid #a8a8a8;
}

#panel {
  /* calculator display */
  text-align: right;
  width: 251px;
  height: 60px;
  font-size: 26px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
  border: 1px solid #a8a8a8;
}

#panel:hover {
  /* calculator display*/
  cursor: col-resize;
}

.bttn {
  /* button */
  margin-bottom: 8px;
  margin-left: 5px;
  width: 59px;
  height: 45px;
  font-size: 22px;
}

.row-last{
  margin-bottom: 10px;
}



.amount-money{
  color: #35c251;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.error_input{
  color: red;
}

// таблица

// th {
//   font-size: 13px;
//   font-weight: normal;
//   background: #b9c9fe;
//   border-top: 4px solid #aabcfe;
//   border-bottom: 1px solid #fff;
//   color: #039;
//   padding: 8px;
// }
// td {
//   background: #e8edff;
//   border-bottom: 1px solid #fff;
//   color: #669;
//   border-top: 1px solid transparent;
//   padding: 8px;
// }
// tr:hover td {background: #ccddff;}






