
.jumbotron {
  padding: 2rem 2rem!important;
  margin-bottom: 0!important;;
}

.card {
  margin-bottom: 2rem!important;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}







